
<hgroup>
    <h3 class="page-header">@Resources.ViewPlanTrace - @ViewBag.PlanName</h3>
</hgroup>
<link href="~/assets/css/map.css" rel="stylesheet" />
<article>
    <div id="mapContainer" style="width:auto;height:768px"
         data-dev-gpsdata="@ViewBag.Data" data-dev-startpoint="@Resources.StartPoint">
    </div>

</article>
@section MapTrackScripts{
    <script src="http://webapi.amap.com/maps?v=1.3&key=20bfaeaa29dde4edc6b521bdb13252f0"></script>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=j8HK07y0Sc6V3n9UMLo1Wd5IYFCBMEyU"></script>
    <script src="~/assets/js/MapTrackBaidu.js"></script>
}
