<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" name="stdout" fileName="${basedir}/logs/stdout.${shortdate}.log"
            layout="${date} ${uppercase:${level}}: ${message} ${logger}" />
    <target xsi:type="File" name="stderr" fileName="${basedir}/logs/stderr.${shortdate}.log"
            layout="${date} ${uppercase:${level}}: ${message} ${logger}" />
  </targets>

  <rules>
    <logger name="*" levels="Trace,Debug,Info,Warn" writeTo="stdout" />
    <logger name="*" level="Error" writeTo="stderr" />
  </rules>
</nlog>