input:focus, textarea:focus { border: 1px solid #7ac0da; }

/* info and errors */

.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error { color: #e80c4d; }

/* styles for validation helpers */

.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid { display: none; }

input.input-validation-error { border: 1px solid #e80c4d; }

input[type="checkbox"].input-validation-error { border: 0 none; }

.validation-summary-errors {
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
}

.validation-summary-valid { display: none; }

.edit-item { margin-top: 12px; }

.login-body {
    background-color: #e3e3e3;
    margin-top: 0px;
}

.float-right { float: right; }

.clear-float { float: none; }

.login-form {
    margin: 0 auto;
    max-width: 400px;
    padding: 15px;
}

.login-header {
    margin-bottom: 40px;
    margin-top: 60px;
}

.pannel-href a{
    color: white;
}

#areas .list-group-item{
    border-radius: 0px;
}

#alarms .in-alarm {
    color: white;
    background-color: red;
}

.big-number {
    font-size: 4em;
}

.text-normal {
    color: #337ab7;
}

.text-alarm {
    color: #ff0000;
}

#device-table td, #device-table th {
        border: 0px;
    }   

#device-table .device-status .online .on {
    display: inherit;
}

#device-table .device-status .online .off {
    display: none;
}

#device-table .device-status .offline .on {
    display: none;
}

#device-table .device-status .offline .off {
    display: inherit;
}

#device-history .head {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}

#device-history .row {
    padding-bottom: 10px;
}
